<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="logout()" fill="clear">
        Desconectar
      </ion-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Perfil</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          <h1>Bienvenido/a {{username}} </h1>
        </ion-card-title>
        <ion-card-subtitle>Perfil Usuario</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-input label="Nombre" type="text" placeholder="Ingrese nombre"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="Apellidos" type="text" placeholder="Ingrese apellidos"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="Edad" type="number" placeholder="Ingrese edad"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label style="text-align: start;">Nivel Educacional</ion-label>
            <ion-select justify="space-between" value="optEduc" interface="action-sheet" placeholder="Seleccione nivel">
              <ion-select-option value="Ninguno">Ninguno</ion-select-option>
              <ion-select-option value="Tecnico">Tecnico</ion-select-option>
              <ion-select-option value="Universitario">Universitario</ion-select-option>
              <ion-select-option value="Magister">Magister</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label style="text-align: start;">Fecha Nacimiento</ion-label>
            <ion-datetime-button datetime="datetime"></ion-datetime-button>

            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime id="datetime" presentation="date"></ion-datetime>
              </ng-template>
            </ion-modal>
          </ion-item>
          <ion-button (click)="showCarForm = !showCarForm" fill="outline" style="display: block; margin: 1rem auto; width: 50%; font-size: 0.8rem; text-align: center;">
            {{ showCarForm ? 'Ocultar' : 'Registrar Vehiculo' }}
          </ion-button>
          <ion-item>
            <div *ngIf="showCarForm">
              <ion-list style="margin: 0; padding: 0;">
                <ion-item>
                  <ion-label position="floating">Marca</ion-label>
                  <ion-input type="text" placeholder="Ingrese marca" style="width: 100%;"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="floating">Modelo</ion-label>
                  <ion-input type="text" placeholder="Ingrese modelo" style="width: 100%;"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="floating">Color</ion-label>
                  <ion-input type="text" placeholder="Ingrese color del auto" style="width: 100%;"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="floating">Año</ion-label>
                  <ion-select placeholder="Seleccione año">
                    <ion-select-option *ngFor="let year of [].constructor(28); let i = index" [value]="1998 + i">
                      {{ 1998 + i }}
                    </ion-select-option>
                  </ion-select>
                </ion-item>
                <ion-item>
                  <ion-label position="floating">Patente</ion-label>
                  <ion-input type="text" placeholder="Ingrese patente" style="width: 100%;"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="floating">Chasis</ion-label>
                  <ion-input type="text" placeholder="Ingrese Nº de Chasis/Vin/Motor" style="width: 100%;"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="floating">Rut</ion-label>
                  <ion-input type="text" placeholder="Ingrese rut" [value]="rut | rutFormat" (ionInput)="rut = $event.detail.value" style="width: 100%;"></ion-input>
                </ion-item>
              </ion-list>
            </div>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
    <ion-button [routerLink]="['/home']" expand="block">Guardar y Empezar Pickup</ion-button>

  </div>
</ion-content>